:root {
  --c-white: #fff;
  --c-black: #000;

  --c-text-light: var(--c-black);
  --c-text-dark: var(--c-white);
}

:root {
  --color-background: var(--c-white);
  --color-text: var(--c-text-light);

  --app-padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black);
    --color-text: var(--c-text-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0; */
  /* font-weight: normal; */
}

a {
  color: var(--color-text);
}

body {
  min-height: 100dvh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
